body {
    font-family: cursive, 'Courier New';
    font-size: 1.1rem;
    width: auto;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #000814;
    background-repeat: no-repeat;
    background-image: 
        radial-gradient(at 47% 33%, hsl(180.00, 100%, 14.000000000000002%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(211.12, 90%, 41%) 0, transparent 55%);

}

header {
    color: #06d6a0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    margin: 150px auto;
    width: 350px;
    background: rgba(208, 218, 252, 0.071);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid #06d6a0;
}

section.dob {
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;    
}

section.button {
    display: flex;
}

label {    
    margin-bottom: 100px;
    color: #9fffcb;
}

button[type=button] {
    font-size: 1rem;
    font-family: cursive;
    background-color: #073b4c;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 10px;
}

button[type=reset] {
    font-size: 0.9rem;
    background-color: #ef476f;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px 10px;
}

input[type=date] {
    border: 0;
    outline: 0;
    border-radius: 10px;
    padding: 7px;
    margin-left: 10px;
    width: 110px;    
    text-align: center;    
}

#age {
    margin-top: 50px;
    margin-bottom: 25px;
    color: #06d6a0;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.asterisk {
    color: #ef476f !important;
}

.text-muted {
    font-size: 1rem;
    font-weight: 400;
    color: #abc4ff !important;
}

/* Glassmorphism & Animation */

.glass {
    position: fixed;
    background: rgba(208, 218, 252, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(208, 218, 252, 0.78);
    background-color: aqua;    
}

/* Varied 4s to 12s time animation */

.animate1 {
    -webkit-animation: preloader 4s ease-out infinite;
    animation: preloader 4s ease-out infinite;
}

.animate2 {
    -webkit-animation: preloader 9s ease-out infinite;
    animation: preloader 9s ease-out infinite;
}

.animate3 {
    -webkit-animation: preloader 15s ease-out infinite;
    animation: preloader 15s ease-out infinite;
}

/* Basic Animation */

@keyframes preloader {
    0% {
        transform: translateY(0) translateX(0) scale(0.2); 
        opacity: 0.2;
    }
    100% {
        transform: scale(2); 
        opacity: 0;
    }
}